@charset "UTF-8";
/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	}
	
table {
	background-color:#d5e4ef;
	padding: 0;
	margin: 0;
	}

#tableBorder {
	width: 600px;
	border: 2px solid #bdd5e6;
}

.tableHead {
	background-color:#bdd5e6;
}

.tableFooter {
	background-color:#bdd5e6;
	height: 50px;
}

td {
	padding: 5px;
	margin: 0;
	}
	
p {
	margin: 0;
	padding: 5px;
	font-size: 12px;
}

#tableBorder .navigation {
	background-color: #bdd5e6;
	font-size: 12px;
	padding: 2px;
	text-align: center;
}

#NavHorMenu {
	background-color: #bdd5e6;
	height: 20px;
	width: 600px;
	text-align: center;
	border: 2px solid #bdd5e6;

}

#NavHorMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#NavHorMenu li {
	float: left;
	}
	
#NavHorMenu li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-indent: -1000em;
	margin-left: 45px;
	margin-right: 45px;
	padding-left: 35px;
	padding-right: 35px;
	text-decoration: none;
	color: #000;
	}

#NavHorMenu li a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-indent: -1000em;
	margin-left: 45px;
	margin-right: 45px;
	padding-left: 35px;
	padding-right: 35px;
	text-decoration: underline;
	color: #000;
	}
	
.errorMsg {
	color: red;
	display: inline;
	font-weight: bold;
}

.dataTable {   
	width: 100%;
	text-align: left;
	font-size: 12px;
	background-color:#d5e4ef;
}

.dataTable-header {
	text-align: left;
	background:none repeat scroll 0 0 #bdd5e6;
	border-bottom:1px solid #000;
	padding:10px;
}

.dataTable-odd-row {
	text-align: left;
	padding: 10px 2px 10px 2px;
	background:none repeat scroll 0 0 #FFFFFFF;
}

.dataTable-even-row {
	text-align: left;
	padding: 10px 2px 10px 2px;
	background:none repeat scroll 0 0 #bdd5e6;
}
